/.idea/
/target/
/tiger-integration-isik.iml
sbom*.json
.jenkins
tiger-ci.yaml
tiger-ci-stufe3.yaml
tiger-ci-stufe5.yaml
README-internal.md
docker-compose.yaml
docker-compose.local.yaml
.test-reports
output
scripts/__pycache__
